Repository eugenev8/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, npm run test

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": ["eslint --fix"],
  "src/**/*.{ts,tsx,css,scss,md}": "prettier --write --ignore-unknown",
  "src/**/*.test.tsx": "npm run test"
}

fix: add missing test runner
  .lintstagedrc.json
Due: none

docs(EC-1-4): add comprehensive readme
  README.md
Due: none

feat: add husky
  .husky/pre-commit
  package-lock.json
  package.json
  src/App.test.tsx
Due: eslint --fix, prettier --write --ignore-unknown, npm run test

feat: add lint-staged to auto lint before commits
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Due: none

feat: add folder structure
  public/.gitkeep
  src/components/.gitkeep
  src/hooks/.gitkeep
  src/pages/.gitkeep
  src/sdk/.gitkeep
  src/ui/.gitkeep
  src/utils/.gitkeep
Due: none

feat: add sdk in project
  package-lock.json
  package.json
  src/App.tsx
  src/sdk/.gitkeep
  src/sdk/client.ts
  src/sdk/root.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor: remove unnecessary logic and comments
  src/App.tsx
  src/sdk/client.ts
  src/sdk/root.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add basic routing
  package-lock.json
  package.json
  src/App.test.tsx
  src/App.tsx
  src/ErrorPage.tsx
  src/Layout.tsx
  src/components/navigation/Navigation.css
  src/components/navigation/Navigation.tsx
  src/components/navigation/NavigationTypes.ts
  src/main.tsx
  src/pages/login/LoginPage.tsx
  src/pages/main/MainPage.css
  src/pages/main/MainPage.test.tsx
  src/pages/main/MainPage.tsx
  src/pages/register/RegisterPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown, npm run test

init: init integration with auth service task
  src/App.tsx
  src/components/TempComponent.tsx
  src/sdk/Accesses.ts
  src/sdk/client.ts
  src/sdk/clients.ts
  src/sdk/root.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add Anonymous/Password/Token auth flows
  src/App.tsx
  src/components/TempComponent.tsx
  src/sdk/Accesses.ts
  src/sdk/AdminAccess.ts
  src/sdk/TempComponent.tsx
  src/sdk/clients.ts
  src/sdk/root.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add Anonymous/Password/Token auth flows - 2
  src/hooks/redux.ts
  src/main.tsx
  src/reducers/ActionCreators.ts
  src/reducers/AuthSlice.ts
  src/sdk/TempComponent.tsx
  src/store.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add Anonymous/Password/Token auth flows and redux
  src/reducers/ActionCreators.ts
  src/reducers/AuthSlice.ts
  src/sdk/TempComponent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add Anonymous/Password/Token auth flows and redux 2
  src/reducers/ActionCreators.ts
  src/reducers/AuthSlice.ts
  src/sdk/TempComponent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add login page form
  package-lock.json
  package.json
  src/components/forms/login/LoginForm.css
  src/components/forms/login/LoginForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add separate components for inputs
  src/components/forms/inputs/AdressInput.tsx
  src/components/forms/inputs/AgeInput.tsx
  src/components/forms/inputs/CommonInput.tsx
  src/components/forms/inputs/EmailInput.tsx
  src/components/forms/inputs/PasswordInput.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: changed login form to use separate components
  src/components/forms/login/LoginForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add registration form
  src/components/forms/register/RegisterForm.css
  src/components/forms/register/RegisterForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: small change to import structure
  src/components/forms/register/RegisterForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: consise input validation
  src/components/forms/CommonValidation.ts
  src/components/forms/login/LoginForm.tsx
  src/components/forms/register/RegisterForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add login and registration forms
  package-lock.json
  package.json
  src/components/forms/CommonValidation.ts
  src/components/forms/inputs/AdressInput.tsx
  src/components/forms/inputs/AgeInput.tsx
  src/components/forms/inputs/CommonInput.tsx
  src/components/forms/inputs/EmailInput.tsx
  src/components/forms/inputs/PasswordInput.tsx
  src/components/forms/login/LoginForm.css
  src/components/forms/login/LoginForm.tsx
  src/components/forms/register/RegisterForm.css
  src/components/forms/register/RegisterForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: connect forms with router
  package-lock.json
  src/App.tsx
  src/components/forms/register/RegisterForm.tsx
  src/components/navigation/Navigation.css
  src/components/navigation/Navigation.tsx
  src/index.css
  src/main.tsx
  src/pages/error/ErrorPage.css
  src/pages/error/ErrorPage.tsx
  src/pages/login/LoginPage.tsx
  src/pages/main/MainPage.css
  src/pages/main/MainPage.tsx
  src/pages/register/RegisterPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add routing
  package-lock.json
  package.json
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/ErrorPage.tsx
  src/components/forms/register/RegisterForm.tsx
  src/components/navigation/Navigation.css
  src/components/navigation/Navigation.tsx
  src/components/navigation/NavigationTypes.ts
  src/index.css
  src/main.tsx
  src/pages/error/ErrorPage.css
  src/pages/error/ErrorPage.tsx
  src/pages/login/LoginPage.tsx
  src/pages/main/MainPage.css
  src/pages/main/MainPage.test.tsx
  src/pages/main/MainPage.tsx
  src/pages/register/RegisterPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown, npm run test

feat: update branch
  src/components/TempComponent.tsx
  src/sdk/Accesses.ts
  src/sdk/client.ts
  src/sdk/clients.ts
  src/sdk/root.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add Anonymous/Password/Token auth flows
  src/components/TempComponent.tsx
  src/sdk/Accesses.ts
  src/sdk/AdminAccess.ts
  src/sdk/TempComponent.tsx
  src/sdk/clients.ts
  src/sdk/root.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add styles, burger menu
  package-lock.json
  package.json
  src/components/forms/CommonValidation.ts
  src/components/forms/inputs/AdressInput.tsx
  src/components/forms/inputs/AgeInput.tsx
  src/components/forms/inputs/CommonInput.tsx
  src/components/forms/inputs/EmailInput.tsx
  src/components/forms/inputs/PasswordInput.tsx
  src/components/forms/login/LoginForm.css
  src/components/forms/login/LoginForm.tsx
  src/components/forms/register/RegisterForm.css
  src/components/forms/register/RegisterForm.tsx
  src/components/navigation/Navigation.css
  src/components/navigation/Navigation.tsx
  src/index.css
  src/ui/buttons/Button.css
  src/ui/buttons/Buttons.tsx
  src/ui/inputs.css
  src/ui/typography.css
Due: eslint --fix, prettier --write --ignore-unknown

fix: fix wrong anchor styling
  src/ui/typography.css
Due: prettier --write --ignore-unknown

feat: add authSlice and apiRoots instance
  src/main.tsx
  src/pages/main/MainPage.css
  src/pages/main/MainPage.tsx
  src/reducers/ActionCreators.ts
  src/reducers/AuthSlice.ts
  src/sdk/TempComponent.tsx
  src/sdk/clients.ts
  src/sdk/root.ts
  src/sdk/roots.ts
  src/store.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: fix merge
  src/sdk/TempComponent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add postal validation, country input
  src/components/forms/CommonValidation.ts
  src/components/forms/inputs/AdressInput.tsx
  src/components/forms/inputs/CountryInput.tsx
  src/components/forms/register/RegisterForm.tsx
  src/ui/inputs.css
Due: eslint --fix, prettier --write --ignore-unknown

fix: delete redundant file
  src/ErrorPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add netlify redirection file
  src/netlify.toml
Due: none

fix: move netlify file
  netlify.toml
Due: none
