Repository eugenev8/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, npm run test

feat: add scss support, wrapper element
  package-lock.json
  package.json
  src/components/containers/FlexContainer.scss
  src/components/containers/FlexContainer.tsx
  src/components/forms/login/LoginForm.scss
  src/components/forms/login/LoginForm.tsx
  src/components/forms/register/RegisterForm.scss
  src/components/forms/register/RegisterForm.tsx
  src/components/navigation/Navigation.scss
  src/components/navigation/Navigation.tsx
  src/components/wrapper/Wrapper.scss
  src/components/wrapper/Wrapper.tsx
  src/index.scss
  src/main.tsx
  src/pages/error/ErrorPage.scss
  src/pages/error/ErrorPage.tsx
  src/pages/login/LoginPage.css
  src/pages/login/LoginPage.scss
  src/pages/login/LoginPage.tsx
  src/pages/main/MainPage.scss
  src/pages/main/MainPage.tsx
  src/pages/register/RegisterPage.css
  src/pages/register/RegisterPage.scss
  src/pages/register/RegisterPage.tsx
  src/ui/buttons/Button.scss
  src/ui/buttons/Buttons.tsx
  src/ui/inputs.scss
  src/ui/typography.scss
Due: eslint --fix, prettier --write --ignore-unknown

feat: reworked components to new design
  public/.gitkeep
  src/common/styles/colors.module.scss
  src/common/styles/typography.scss
  src/components/buttons/Button.module.scss
  src/components/containers/ColoredContainer.module.scss
  src/components/containers/ColoredContainer.tsx
  src/components/forms/inputs/AddressInput.tsx
  src/components/forms/inputs/CheckboxInput.module.scss
  src/components/forms/inputs/CheckboxInput.tsx
  src/components/forms/inputs/CommonInput.tsx
  src/components/forms/inputs/CountryInput.tsx
  src/components/forms/inputs/PasswordInput.module.scss
  src/components/forms/inputs/PasswordInput.tsx
  src/components/forms/inputs/inputs.module.scss
  src/components/forms/login/LoginForm.module.scss
  src/components/forms/login/LoginForm.tsx
  src/components/forms/register/RegisterForm.module.scss
  src/components/forms/register/RegisterForm.tsx
  src/components/icons/IconVisibility.tsx
  src/components/navigation/Navigation.module.scss
  src/components/navigation/Navigation.tsx
  src/components/wrapper/Wrapper.module.scss
  src/index.scss
  src/pages/login/LoginPage.tsx
  src/pages/register/RegisterPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: change to use module scss
  src/common/styles/colors.module.scss
  src/components/buttons/Button.module.scss
  src/components/buttons/Buttons.tsx
  src/components/containers/FlexContainer.module.scss
  src/components/containers/FlexContainer.tsx
  src/components/forms/inputs/AddressInput.tsx
  src/components/forms/inputs/CommonInput.tsx
  src/components/forms/inputs/CountryInput.tsx
  src/components/forms/inputs/PasswordInput.tsx
  src/components/forms/inputs/inputs.module.scss
  src/components/forms/login/LoginForm.module.scss
  src/components/forms/login/LoginForm.scss
  src/components/forms/login/LoginForm.tsx
  src/components/forms/register/RegisterForm.module.scss
  src/components/forms/register/RegisterForm.scss
  src/components/forms/register/RegisterForm.tsx
  src/components/navigation/Navigation.module.scss
  src/components/navigation/Navigation.scss
  src/components/navigation/Navigation.tsx
  src/components/wrapper/Wrapper.module.scss
  src/components/wrapper/Wrapper.tsx
  src/index.scss
  src/pages/error/ErrorPage.module.scss
  src/pages/error/ErrorPage.tsx
  src/pages/login/LoginPage.module.scss
  src/pages/login/LoginPage.scss
  src/pages/login/LoginPage.tsx
  src/pages/main/MainPage.module.scss
  src/pages/main/MainPage.tsx
  src/pages/register/RegisterPage.module.scss
  src/pages/register/RegisterPage.scss
  src/pages/register/RegisterPage.tsx
  src/ui/buttons/Button.scss
  src/ui/inputs.scss
  src/ui/typography.scss
Due: eslint --fix, prettier --write --ignore-unknown

fix: remove unnecessary code
  src/components/forms/login/LoginForm.module.scss
  src/components/forms/login/LoginForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add global border-box
  src/components/forms/inputs/PasswordInput.module.scss
  src/index.scss
Due: prettier --write --ignore-unknown

feat: add typescript-plugin-css-modules
  package-lock.json
  package.json
  tsconfig.json
Due: none

refactor: move base styles
  src/common/styles/base.scss
  src/index.scss
Due: prettier --write --ignore-unknown

init: add basic user page
  src/pages/user/UserPage.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add user page functionality
  src/components/userInfo/adress/UserAddress.module.scss
  src/components/userInfo/adress/UserAddress.tsx
  src/components/userInfo/contacts/UserContacts.tsx
  src/main.tsx
  src/pages/user/UserPage.tsx
  src/pages/user/adresses/UserAddresses.module.scss
  src/pages/user/adresses/UserAddresses.tsx
  src/pages/user/dashboard/UserDashboard.module.scss
  src/pages/user/dashboard/UserDashboard.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add user info and forms to change it
  package-lock.json
  package.json
  src/App.tsx
  src/common/styles/modal.scss
  src/components/breadcrumbs/Breadcrumbs.module.scss
  src/components/breadcrumbs/Breadcrumbs.tsx
  src/components/forms/edit/EditAddressForm.tsx
  src/components/forms/edit/EditCustomerForm.tsx
  src/components/forms/edit/EditPasswordForm.tsx
  src/components/forms/inputs/PasswordInput.module.scss
  src/components/icons/IconChevronRight.tsx
  src/components/navigation/Navigation.module.scss
  src/components/navigation/Navigation.tsx
  src/components/userInfo/adress/UserAddress.tsx
  src/components/userInfo/adress/UserDefaultAddresses.tsx
  src/index.scss
  src/main.tsx
  src/pages/error/ErrorPage.tsx
  src/pages/user/UserPage.module.scss
  src/pages/user/UserPage.tsx
  src/pages/user/adresses/UserAddresses.module.scss
  src/pages/user/adresses/UserAddresses.tsx
  src/pages/user/dashboard/UserDashboard.module.scss
  src/pages/user/dashboard/UserDashboard.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add cancel button, confirm password field
  src/components/buttons/Buttons.tsx
  src/components/forms/edit/EditAddressForm.tsx
  src/components/forms/edit/EditCustomerForm.tsx
  src/components/forms/edit/EditDateForm.tsx
  src/components/forms/edit/EditFormContainer.tsx
  src/components/forms/edit/EditPasswordForm.tsx
  src/components/modal/ModalContainer.tsx
  src/main.tsx
  src/pages/user/UserPage.tsx
  src/pages/user/UserPageLayout.tsx
  src/pages/user/UserProfile.tsx
  src/pages/user/account/UserAccount.module.scss
  src/pages/user/account/UserAccount.tsx
  src/pages/user/adresses/UserAddresses.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat/user profile page (#22)
  package-lock.json
  package.json
  src/App.tsx
  src/common/styles/modal.scss
  src/components/breadcrumbs/Breadcrumbs.module.scss
  src/components/breadcrumbs/Breadcrumbs.tsx
  src/components/buttons/Buttons.tsx
  src/components/forms/edit/EditAddressForm.tsx
  src/components/forms/edit/EditCustomerForm.tsx
  src/components/forms/edit/EditDateForm.tsx
  src/components/forms/edit/EditFormContainer.tsx
  src/components/forms/edit/EditPasswordForm.tsx
  src/components/forms/inputs/PasswordInput.module.scss
  src/components/icons/IconChevronRight.tsx
  src/components/modal/ModalContainer.tsx
  src/components/navigation/Navigation.module.scss
  src/components/navigation/Navigation.tsx
  src/components/userInfo/adress/UserAddress.module.scss
  src/components/userInfo/adress/UserAddress.tsx
  src/components/userInfo/adress/UserDefaultAddresses.tsx
  src/components/userInfo/contacts/UserContacts.tsx
  src/index.scss
  src/main.tsx
  src/pages/error/ErrorPage.tsx
  src/pages/user/UserPage.module.scss
  src/pages/user/UserPageLayout.tsx
  src/pages/user/UserProfile.tsx
  src/pages/user/account/UserAccount.module.scss
  src/pages/user/account/UserAccount.tsx
  src/pages/user/adresses/UserAddresses.module.scss
  src/pages/user/adresses/UserAddresses.tsx
  src/pages/user/dashboard/UserDashboard.module.scss
  src/pages/user/dashboard/UserDashboard.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add update customer pers.data and password
  src/pages/main/MainPage.module.scss
  src/pages/main/MainPage.tsx
  src/pages/main/TempComponent.tsx
  src/reducers/ActionCreators.ts
  src/reducers/CustomerSlice.ts
  src/utils/getErrorMessageForUser.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add logic change personal data and password
  src/components/forms/edit/EditCustomerForm.tsx
  src/components/forms/edit/EditPasswordForm.tsx
  src/components/userInfo/contacts/UserContacts.tsx
  src/pages/user/account/UserAccount.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove temp files
  src/pages/main/MainPage.tsx
  src/pages/main/TempComponent.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: move dateofbirth to a single form.
  src/components/forms/edit/EditCustomerForm.tsx
  src/components/forms/edit/EditDateForm.tsx
  src/pages/user/account/UserAccount.tsx
  src/utils/getErrorMessageForUser.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: fix pr issues
  src/components/forms/edit/EditCustomerForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Feat/add update customer data and password (#23)
  src/components/forms/edit/EditCustomerForm.tsx
  src/components/forms/edit/EditDateForm.tsx
  src/components/forms/edit/EditPasswordForm.tsx
  src/components/userInfo/contacts/UserContacts.tsx
  src/pages/main/MainPage.module.scss
  src/pages/user/account/UserAccount.tsx
  src/reducers/ActionCreators.ts
  src/reducers/CustomerSlice.ts
  src/utils/getErrorMessageForUser.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: change color-9 to be more visible
  src/common/styles/colors.module.scss
Due: prettier --write --ignore-unknown

feat: add headings
  src/components/forms/edit/EditAddressForm.tsx
  src/components/forms/edit/EditCustomerForm.tsx
  src/components/forms/edit/EditPasswordForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add UI to change, add addresses
  src/components/forms/create/CreateAddressForm.tsx
  src/components/forms/inputs/AddressTypeInput.tsx
  src/main.tsx
  src/pages/user/UserProfile.tsx
  src/pages/user/adresses/UserAddresses.module.scss
  src/pages/user/adresses/UserAddresses.tsx
  src/pages/user/dashboard/UserDashboard.module.scss
  src/pages/user/dashboard/UserDashboard.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add, edit and delete addresses logic
  src/components/forms/create/CreateAddressForm.tsx
  src/components/forms/edit/EditAddressForm.tsx
  src/components/forms/edit/EditCustomerForm.tsx
  src/pages/user/adresses/UserAddresses.tsx
  src/reducers/ActionCreators.ts
  src/reducers/CustomerSlice.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add setters of default addresses
  src/components/forms/create/CreateAddressForm.tsx
  src/pages/user/adresses/UserAddresses.tsx
  src/pages/user/adresses/types.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix: fix addresses logic on signup
  src/components/forms/register/RegisterForm.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix: add error handling when user wants del last address
  src/pages/user/adresses/UserAddresses.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add clear default addresses logic
  src/pages/user/adresses/UserAddresses.tsx
Due: eslint --fix, prettier --write --ignore-unknown

refactor: refactor addresses logic
  src/pages/user/account/UserAccount.tsx
  src/pages/user/adresses/UserAddresses.tsx
  src/pages/user/adresses/types.ts
  src/reducers/ActionCreators.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: add address name
  src/components/forms/CommonValidation.ts
  src/components/forms/create/CreateAddressForm.tsx
  src/components/forms/edit/EditAddressForm.tsx
  src/components/forms/register/RegisterForm.tsx
  src/pages/user/adresses/UserAddresses.tsx
Due: eslint --fix, prettier --write --ignore-unknown

build: remove typescript-plugin-css-modules
  package-lock.json
  package.json
Due: none

fix: fix typos
  src/pages/user/adresses/UserAddresses.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: add check for additionalAddressInfo
  src/pages/user/adresses/UserAddresses.module.scss
  src/pages/user/adresses/UserAddresses.tsx
Due: eslint --fix, prettier --write --ignore-unknown

аÑfixdddelete old plugin in tsconfig
  tsconfig.json
Due: none

Ðbuild: add working typescript-plugin-css-modules
  package-lock.json
  package.json
  tsconfig.json
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write --ignore-unknown: any of: src/**/*.{ts,tsx,css,scss,md}
  npm run test: any of: src/**/*.test.tsx
